:root {
    --infoblue: #5bc0de;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
body {
    margin: 0 auto;
}
.custom-navbar-brand:hover {
    /* opacity: 0.5; */
    color: white;
}
.custom-nav {
    max-width: 1440px;
    margin: 0 auto;


}
.custom-nav-link {
    /* color: white; */
    font-weight: 500;
    font-size: 1.2em;
}

.custom-nav-link:hover {
    text-decoration: underline;
    opacity: .5;
}
.custom-toggler-btn {
    /* background-color: white; */
    border: 2px solid var(--infoblue);
}
/* .custom-toggler {
    border: 2px solid white;
} */

/* hero section */
.custom-hero {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 3.63em;
    /* border-top: .6em solid rgb(76, 73, 73); */
}
/* .custom-h1-container {
    max-width: 1440px;
    max-width: 12em;
} */
.custom-h1 {
    max-width: 12em;
    bottom: .5em;
    right: .5em;

}
.custom-img-container {
    max-height: 20em;
    /* max-width: 1440px; */
}